<a href="https://colab.research.google.com/github/lilyhuong/Magistere1-S1-Python/blob/main/Exercice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
**Let ['cow', 'mouse', 'cat', 'pig'] be a list. Print the elements of
the list (each on a single line) in three different ways (two using
for, one using while).**

**Méthode 1:**


```
for animal in animals:
	print(animal)
```
> Pour chaque l'élément dans la liste animals, on affiche le résultat

L'ordre est le suivant:


1.   Quand animal = 0, affiche "cow" 
2.   animal = 1 (Deuxième élément dans la liste), on affiche mouse

...

...

In [ ]:
animals = ["cow", "mouse", "cat", "pig"]
for animal in animals:
	print(animal)

cow
mouse
cat
pig

**Méthode 2:**

> La fonction print () insère une nouvelle ligne à la fin, par défaut (méthode 1)



```
, end = ""
```
"end = ''" ajoute un espace au lieu d'une nouvelle ligne.

In [ ]:
for animal in animals:
	print(animal, end = " ")

cow mouse cat pig

**Méthode 3**

```
len ()
```
len () = la taille de la liste,...

In [ ]:
for i in range(len(animals)):
	print(animals[i])

cow
mouse
cat
pig

**Méthode 4**


```
counter = 0
```
> Créer une valeur départ pour utiliser la boucle "While "



```
while counter < len(animals):
```
>Quand l'indice counter < 4 (len (animals))
afficher les élément dans la liste animals

In [ ]:
counter = 0
while counter < len(animals):
	print(animals[counter])
	counter = counter + 1

cow
mouse
cat
pig

# Question 2
**Build a list containing the days of the week. Give a series of instructions to print the days of the week (until Friday, using for) and
another series of instructions that prints the week-end (using while).**

**Using for**


```
days[0:5]
```
> Afficher les éléments de 0 à 4 ( Monday to Friday)

In [ ]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days[0:5]:
	print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

**Using While**

(Meme l'odre avec l'exercice 1)

In [ ]:
counter = 5
while counter < len(days):
	print(days[counter])
	counter = counter + 1

Saturday
Sunday

# Question 3
**In a loop, print the numbers from 1 to 20 divisible by 5, one by line.**



```
while number <= 20:
```
> Quand l'indice number <= à 20


```
, end " "
```
> Afficher le résultat dans la même ligne et avec espace entre les variables

In [ ]:
number = 5
while number <= 20:
	print(number, end = " ")
	number = number + 5

5 10 15 20

#Question 4
**Let "odd" be the list of numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19,
21]. Write a program that, from the "odd" list, builds an "even" list
where each element from "odd" is incremented by 1.**
Note: Python slicing for using range

[start, end, step]

**Méthode 1**
```
evens = []
```
> Créer une liste vide pour ajouter les éléments dans le résultat


```
for odd in odds:
	evens = evens + [odd + 1]
```
> Pour chaque l'élément impair dans la liste odds
, la liste evens ajoute un nombre pair = nombre impair + 1

> si odd = 1

evens = [1+1] = [2]

> Next, si odd = 3

evens = [2, (3 + 1) ] = [2, 4]

....

In [ ]:
odds = list(range(1, 22, 2))
print(odds)
evens = []
for odd in odds:
	evens = evens + [odd + 1]

print(evens)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

**Méthode 2** : Utiliser "append"


```
.append()
```
Ajouter chaque élement à la liste evens

In [ ]:
odds = list(range(1, 22, 2))
print(odds)
evens = []
for odd in odds:
	evens.append(odd+1)

print(evens)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

**Méthode 3** Utiliser rang()

In [ ]:
odds = list(range(1, 22, 2))
print(odds)
evens = []
for i in range(len(odds)):
	evens = evens + [odds[i] + 1]

print(evens)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

# Question 5
**Here are the grades of a student [14, 9, 6, 8, 12]. Compute the average of these notes and print it with exactly 2 decimals.**


```
sum_grades = 0
```
> Hypothèse: Si on  ne connais pas la total des notes, on suppose que la somme des note égale à 0


```
for grade in grades:
	sum_grades = sum_grades + grade
```
> Pour chaque note dans la liste grades,

la somme des notes = la somme de note précédent + la valeur d'indice grade

1. Pour grade = 14, la somme des note = 0 + 14 = 14

2. Next, grade = 9, la somme des note = 14 + 9 = 23

3. Next, grade = 6, la somme des note = 23 + 6 = 29

4. ...

In [ ]:
grades = [14, 9, 6, 8, 12]
sum_grades = 0
for grade in grades:
	sum_grades = sum_grades + grade

average_grades = sum_grades/len(grades)
print(average_grades)

9.8

# Question 6
**.Let X be a list containing the numbers from 0 to 10. Compute the product of two consecutive numbers, two by two from X, using a loop. Example from the first iterations:
0
2
6**

In [ ]:
numbers = list(range(11))
for i in range(len(numbers)-1):
	print(numbers[i] * numbers[i+1])

0
2
6
12
20
30
42
56
72
90

#Question 7
**Triangle. Write a script that draws a triangle as below:**

```
*
**
***
****
*****
******
*******
********
*********
**********
```
1. Si i = 1

 "*" * 1 :    
  il y a un étoile dans cette ligne
2. next:  i = 2

  "*"  * 2 

  il y a 2 étoiles dans la deuxième ligne
3. .....

In [ ]:
for i in range(1,11):
	print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

#Question 8
**Reversed triangle. Write a script that draws a triangle as below:**


```
**********
*********
********
*******
******
*****
****
***
**
*
```

In [ ]:
for i in range(10, 0, -1):
	print("*" * i)

**********
*********
********
*******
******
*****
****
***
**
*

# Question 9
**Left triangle. Write a script that draws a triangle as below:**


```
         *
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

```


```
"{:>10s}
```
On commence à droit

In [ ]:
for i in range(1, 11):
	print("{:>10s}".format(i * "*"))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

# Exercice 10
**Isosceles triangle. Write a script that draws a triangle as below:**


```
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************
```

In [1]:
for i in range(1, 22, 2):
	print("{:^21s}".format(i * "*"))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************

# Exercice 11
**Traverse a matrix. Write a script that traverses a squared matrix of
n by n1**



```
\t 
```
>\t est une tabulation


```
for i in range(1, n+1):
	for j in range(1, n+1):
		print(str(i)+"\t"+str(j))
```
une boucle dans une boucle

Par example
1. **Si i = 1**, 

> ensuite j = 1
On affiche la prièmiere ligne 

```
1      1
```


> j = 2
```
1      1
1      2
```

> j = 3
```
1      1
1      2
1      3
```

> j = 4
```
1      1
1      2
1      3
1      4
```
**Note**: Dans première étape, On est tourjours dans une boucle i = 1 donc que la valeur du premier ne change pas jusqu' à la boucle for j in range (1, n + 1) est terminé

2. On passe à deuxième étape, **si i = 2**

j = 1

j = 2

j = 3

j = 4


3. 


....

In [6]:
print("line\tcolumn")
n=4
for i in range(1, n+1):
	for j in range(1, n+1):
		print(str(i)+"\t"+str(j))

line	column
1	1
1	2
1	3
1	4
2	1
2	2
2	3
2	4
3	1
3	2
3	3
3	4
4	1
4	2
4	3
4	4

# Exercice 12
**Fibonacci sequence. Write a script that prints the first 20 numbers
of the sequence.**

**0, 1, 1, 2, 3, 5, 8, 13, 21, 34**

In [2]:
t1 = 0
t2 = 1
print(t1, end= " ")
for i in range(18):
	temp = t2
	t2 = t1 + t2
	t1 = temp
	print(t2, end = " ")

0 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181