<a href="https://colab.research.google.com/github/lilyhuong/Magistere1-S1-Python/blob/main/Train_neural_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

On utilise pandas pour convertir et utiliser les commandes avec les fiches excel, csv, etc (En général, c'est un instrument pour ouvrir les bases de données )
> Importer la fonction pandas et renommer au nom de pd

In [ ]:
import pandas as pd

Dans la bibliothèque matplotlib, on importe function pylot pour créer la graphique et renommer function pylot au nom de plt

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
import numpy as np
import sklearn #pour faire ex3 et 4 avec train et test in neural network
from sklearn.neural_network import MLPClassifier #Ex3 et 4
from sklearn.neural_network import MLPRegressor #Ex3 et 4
from sklearn.model_selection import train_test_split #Ex3 et 4

Dans un neural network, il y a deux types des variables: Variable input, variable output


1.   Variable output = Target_column: Variable principale dont les valeurs doivent être modélisées et prédites par d'autres variables (variable dépendante) . Il donne le résultat final, la prévision: supérieur ou inférieur à 50K. On ne peut pas modifier cette variable
2.   Variable input = predictors: une variable dont les valeurs seront utilisées pour prédire la valeur de target varible  (variables indépendante)


```
.set()
```
L'attribut set() pour choisir une colonne dans une table


```
predictors = list(set(list(question3.columns)) - set(target_column))
```
cette ligne: Créer une liste des variables predictors: il y a toutes des varibles sauf la variable "income"



> La première ligne, on crée un objet target_column,  cette variable ne change pas 

> La deuxième ligne nous donne la liste de toutes les caractéristiques, 

> la troisième ligne normalise les prédicteurs.

In [ ]:
target_column = ["income_code"]
predictors = list(set(list(question3.columns)) - set(target_column))
question3[predictors] = question3[predictors] / question3[predictors].max()
question3.describe()

                age  capital-gain  ...  native-country_code   income_code
count  32560.000000  32560.000000  ...         32560.000000  32560.000000
mean       0.428685      0.010776  ...             0.895580      0.240817
std        0.151563      0.073855  ...             0.190827      0.427586
min        0.188889      0.000000  ...             0.000000      0.000000
25%        0.311111      0.000000  ...             0.951220      0.000000
50%        0.411111      0.000000  ...             0.951220      0.000000
75%        0.533333      0.000000  ...             0.951220      0.000000
max        1.000000      1.000000  ...             1.000000      1.000000

[8 rows x 13 columns]

> Les deux premières lignes de code ci-dessous créent des tableaux des variables indépendantes (X) et dépendantes (y), respectivement. 

> La troisième ligne divise les données en ensemble de données d'entraînement et de test

> la quatrième ligne imprime la forme de l'entraînement et les données de test.

In [ ]:
X = question3[predictors].values
y = question3[target_column].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 1  )
print(X_train.shape)
print(y_train.shape)

(26048, 12)
(26048, 1)

> Dans cette étape, on va créer le modèle de réseau neurol en utilisant l'objet estimateur de la bibliothèque scikit-learn, «Multi-Layer Perceptron Classifier». 

> La première ligne instancie le modèle avec l'argument «hidden_layer_sizes» défini sur trois "hidden", qui a le même nombre de neurones que le nombre d'entités dans l'ensemble de données.

>  On sélectionne également "relu" comme une fonction d'activation et "adam" comme solveur pour l'optimisation du poids.

> La deuxième ligne de code adapte le modèle aux données d'apprentissage

>  Les 3eme et 4eme lignes utilisent le modèle entraîné pour générer des prédictions sur l'ensemble de données d'apprentissage et de test, respectivement.

In [ ]:
mlp = MLPClassifier(hidden_layer_sizes= (50, 100, 50), activation= 'relu', solver= 'adam', max_iter= 200 )
mlp.fit(X_train, y_train)
predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

> On exporte la fonction classification_report et les résultats dans la bibliothèque sklearn

> La 2eme ligne et 3eme ligne la matrice de confusion et les résultats du rapport de confusion sur les données d'entraînement

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))